/* Base styles */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  background-color: #004d99;
  color: white;
  padding: 1em;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

