@@ -0,0 +1,22 @@
/* Base styles */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 40px;
  padding: 40px;
  background: #f9f9f9;
  color: #333;
}

header {
  background-color: #004d99;
  color: white;
  padding: 40px;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 2em;
}
